<!DOCTYPE html>
<html lang="fr" data-ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <title>Exercice Bonus3 - Zbraaaah !</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <!-- Custom templates -->
  <link rel="stylesheet" href="style.css" />
</head>
<body data-ng-controller="myForm">
  <!-- TITLE -->
  <h1>Exercice Bonus3 :<span id="flavorText">"Le bonheur ne s'acquiert pas, il ne réside pas dans les apparences, chacun d'entre nous le construit à chaque instant de sa vie avec son coeur." -<p id="movieName">Proverbe africain</p>-</span></h1>
  <!-- CONTENT PAGE -->
  <form>
    <p id="colorText">Veuillez renseigner les informations ci-dessous (elles <strike>ne</strike> seront <strike>pas</strike> revendues) :</p>
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="lastName" name="name" data-ng-model="user.name" data-ng-blur="blurName(user)" placeholder="Entrez votre nom" />
    </div>
    <div>
      <label for="mail">Adresse mail :</label>
      <input type="text" id="mail" name="mail" data-ng-model="user.mail" data-ng-blur="blurMail(user)" placeholder="Entrez votre mail" />
    </div>
    <div>
      <label for="phone">Sujet :</label>
      <input type="text" id="subject" data-ng-model="user.subject" name="subject" placeholder="Entrez le sujet" />
    </div>
    <div>
      <textarea id="textArea" data-ng-model="user.text" placeholder="Entrez votre requête"></textarea>
    </div>
    <div>
      <button type="submit" id="validate" data-ng-click="update(user)">Valider</button>
    </div>
    <div id="fillText">(Tous les champs sont obligatoires, merci.)</div>
  </form>
  <ul>
    <li id="resultDisplay" ng-repeat="subject in subjectList" data-toggle="modal" data-target="#displayData" data-ng-click="displayData(subject.subject)"><span data-ng-bind="subject.subject">subject</span></li>
  </ul>
<!-- Modal -->
<div class="modal fade" id="displayData" tabindex="-1" role="dialog" aria-labelledby="infoDisplay" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="infoDisplay"><span data-ng-bind="nameDisplay">name</span></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Mail : <span data-ng-bind="mailDisplay">mail</span></p>
        <p>Sujet : <span data-ng-bind="subjectDisplay">subject</span></p>
        <div id="textDisplayMe"><p>Texte : <span data-ng-bind="textDisplay">text</span></p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </div>
</div>
  <!-- <pre>user = {{user | json}}</pre>
  <pre>users = {{users | json}}</pre>
  <pre>subjectList = {{subjectList | json}}</pre> -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="script.js"></script>
</html>
